<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row hidden-xs">
    <p class="logg"><%= f.submit "Entrar" %></p>
    <p class="logg"><%= link_to "Inicio", root_path %> </p>

  <div class="col-lg-12">
    <div class="head">
      <img class="imagen img-responsive" src="http://res.cloudinary.com/se-or/image/upload/v1496246942/fondo_ua1eam.jpg">
    </div>
  </div>
</div>
<div class="visible-xs">
    <button class="xs"><%= f.submit "Entrar" %></button>
    <button class="xs"><%= link_to "Inicio", root_path %> </button>
</div>
<div class="container">


    <div class="field">
      <p>Email</p>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br/>
    <div class="field">
      <p>Contraseña</p>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br/>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "Recordarte" %>
      </div>
    <% end -%>

    <div class="actions">

    </div>
  <% end %>
</div>
