<div class="container">

	<p><%= current_user.id  %></p> 
	<p><%= current_user.email %></p>
	<p><%= current_user.current_sign_in_at  %></p>
	<p><%= current_user.sign_in_count %></p>
	<p><%= current_user.created_at %></p>
	
</div>