<div class="peliculas"> 

<%= form_for @pelicula do |peli|%>

<br/>
<br/>
 
<p>Nombre: <br/><%= peli.text_field :name%><br/></p>
<p>Estrellas: <br/><%= peli.text_field :stars%><br/></p>
<p>Actor principal: <br/><%= peli.text_field :main_actor%><br/></p>
<p>Año: <br/><%= peli.text_field :year%><br/></p>

</div>


 
<%= peli.submit "enviar peli" %>


 
<%end%>
