

<h1>Movie Time</h1>

<br/>

<div class="peliculas">

<% @peliculas.each do |peli| %>

	<p><%= link_to peli.name, peli %></p>
	<p><%= peli.stars %></p>
	<p><%= peli.main_actor %></p>
	<p><%= peli.year %></p>

<br/>
<br/>

<% end %>

<br/>
<br/>

</div>

<button class="boton"><%= link_to "Nueva peli", new_pelicula_path %> </button > 