<link rel="stylesheet" type="text/css" href="stylesheet/peliculas.css.scss">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%=link_to "Entrar", new_user_session_path %></li>
      <li> <%=link_to "Registrate", new_user_registration_path %></li>
      <li><%= link_to "Nosotros", about_path %></li>
    </ul>
</nav>
<h1 class="title">Movie Time</h1>

<br/>

<div class="peliculas">

<% @peliculas.each do |peli| %>

	<p><%= link_to peli.name, peli %></p>
	<p><%= peli.stars %></p>
	<p><%= peli.main_actor %></p>
	<p><%= peli.year %></p>

<br/>
<br/>

<% end %>

<br/>
<br/>

</div>

<button class="boton3"><%= link_to "Nueva peli", new_pelicula_path %> </button > 
