<link rel="stylesheet" type="text/css" href="stylesheets/peliculas.css.scss">
<h1><%= @pelicula.name %></h1>

<div class="peliculas">

	<p>Nombre: <%= @pelicula.name %></p>
	<p>Estrellas: <%= @pelicula.stars %></p>
	<p>Protagonizada por <%= @pelicula.main_actor %></p>
	<p>Año:<%= @pelicula.year %></p>
	<p class="description">Des: <%= @pelicula.description %></p>
	<iframe width="420" height="315" src=<%= @pelicula.trailer %>></iframe>
</div>


<% if user_signed_in? %>
<button class="boton4"><%= link_to "Editar Pelicula", edit_pelicula_path %></button>
<button class="boton4"><%= link_to 'Borrar', pelicula_path(@pelicula), :method => :delete %></button>
<% end %>


